<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="false"
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    bootstrap="vendor/autoload.php"
    cacheDirectory=".phpunit.cache"
    backupStaticProperties="false"
>
  <coverage>
    <report>
      <text outputFile="php://stdout" showUncoveredFiles="true"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="IRI Test Suite">
      <directory suffix="Test.php">tests/</directory>
    </testsuite>
  </testsuites>
  <logging/>
  <source>
    <include>
      <file>IRI.php</file>
    </include>
  </source>
</phpunit>
